#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --button-bg: #f0f0f0;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --button-bg: #1f1f1f;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease;
}
/* 
.theme-toggle {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--button-bg);
  border: 2px solid dodgerblue;
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
} */




/* Responsive adjustments */
@media screen and (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  .logo {
    height: 4em;
    padding: 1em;
  }

  .card {
    padding: 1.5em;
  }
}
